<%= link_to "Free pictures only", pictures_path(:free => "yes") %>

<h1>Pictures</h1>


<% @pictures.each do |picture| %> <!-- picture is a hash of the array pictures -->
	
	<h2><%= picture.title %></h2>
	
	<h3><%= picture.artist %></h3>
		
	
	
	<%= link_to picture_path(picture) do %>
	<%= image_tag picture.url %>
	<% end %>
<% end %>


