<h1>Pictures</h1>



<% @pictures.each do |picture| %> <!-- picture is a hash of the array pictures -->
	
	<h2><%= picture.title %></h2>
	
	<h3><%= picture.artist %></h3>
	<%= button_to "Edit", edit_picture_path(picture), :method => :get%>
	
	<%= link_to picture_path(picture) do %>
	<img src="<%= picture.url %>">
	<% end %>
<% end %>


