<h1>Add A Picture</h1>
<!-- <form action="/pictures" method="POST"> -->

   
  <%= form_for @picture do |f| %>
	<p>
		<label>Artist</label><br>
		<!-- <input type="text" name="artist"/> -->
	<%= f.text_field "artist" %>

	</p>
	<p>
		<label>Title</label><br>
		<!-- <input type="text" name="title"/> -->
	<%= f.text_field "title" %>
	</p>
	<p>
		<label>URL</label><br>
		<!-- <input type="text" name="url"/> -->
	<%= f.text_field "url" %>
	</p>
	<p>
		<%=f.submit "Save"%>
	</p>
<!-- </form> -->
<%end%>